h1 {
  font-family: variex, sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  width: 100%;
}

body {
  max-width: 400px;
  margin: 0 auto;
  font-family: mundial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

p {
}

h2,
h3,
h4,
h5,
h6 {
  font-family: mundial, sans-serif;
  font-weight: 900;
  font-style: normal;
}

footer {
  margin-top: 20px;
  padding: 10px 25px;
  text-align: center;
  background: lightgray;
}

/* Event Styles */

.date {
  padding: 10px;
}
